.Game {
  text-align: center;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.985);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
